[package]
name = "c2pa-python"
version = "0.1.0"
edition = "2021"
authors = ["Gavin Peacock <gpeacock@adobe.com"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "c2pa_python"
crate-type = ["cdylib"]

[dependencies]
c2pa = {version="0.25.0", features = ["file_io", "add_thumbnails", "fetch_remote_manifests"]}
serde = { version = "1.0", features = ["derive"] }
serde_derive = "1.0"
serde_json = "1.0"
thiserror = "1.0.49" 
uniffi = "0.24.1"

[build-dependencies]
uniffi = { version = "0.24.1", features = ["build"] }
