
wheel==0.41.2  # For building wheels
setuptools==68.0.0  # For building packages
# Testing dependencies
pytest==7.4.0 
 # only used in the training example
cryptography>=41.0.0 
# for downloading the library artifacts
requests>=2.0.0