# Build dependencies
wheel==0.41.2  # For building wheels
setuptools==68.0.0  # For building packages
build==1.0.3  # For building packages using PEP 517/518
toml==0.10.2  # For reading pyproject.toml files

# Testing dependencies
pytest>=8.1.0
pytest-benchmark>=5.1.0

# for downloading the library artifacts
requests>=2.0.0

# Code formatting
autopep8==2.0.4  # For automatic code formatting
flake8==7.3.0

# Test dependencies (for callback signers)
cryptography==45.0.6
 
# Documentation
Sphinx>=7.3.0
sphinx-autoapi>=3.0.0
myst-parser>=2.0.0
furo>=2024.0.0